:root {
    font-size: 16px;

    /* SCSS RGB */
    --black: rgba(0, 0, 0, 1);
    --oxford-blue: rgba(20, 33, 61, 1);
    --orange-web: rgba(252, 163, 17, 1);
    --platinum: rgba(229, 229, 229, 1);
    --white: rgba(255, 255, 255, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;    
}

nav {
    background-color: var(--oxford-blue);
    height: 3rem;
    display: flex;
    align-items: center;
}

nav button {
    background-color: var(--oxford-blue);
    color: var(--orange-web);
    border: none;
}

form {
    padding: 2rem;
    margin: 2rem;
    background-color: aliceblue;

    display: grid;
    grid-template-columns: repeat(1, 1fr);

    gap: 1rem;
    width: 30rem;
    
}

form > h1 {
    grid-column: 1 / -1;
}

form > div {
    display: flex;
    justify-content: flex-start;
}

label {
    display: block;
    width: 5rem;
}
  
#read {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#read > div {
    display: flex;
    justify-content: space-between;
}

.book-cards {
    display: grid;
}

.book-card {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.book-card > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}