:root {
  font-size: 16px;

  --ming: rgba(0, 109, 119, 1);
  --middle-blue-green: rgba(131, 197, 190, 1);
  --alice-blue: rgba(237, 246, 249, 1);
  --unbleached-silk: rgba(255, 221, 210, 1);
  --dark-salmon: rgba(226, 149, 120, 1);
  /* SCSS RGB */
  --black: rgba(0, 0, 0, 1);
  --oxford-blue: rgba(20, 33, 61, 1);
  --orange-web: rgba(252, 163, 17, 1);
  --platinum: rgba(229, 229, 229, 1);
  --white: rgba(255, 255, 255, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--oxford-blue);
}

button {
  outline: none;
  border: none;
}

nav {
  background-color: var(--orange-web);
  height: 4rem;
  display: flex;
  align-items: flex-end;
}

nav button {
  padding: 1rem;
  height: 3rem;
  background-color: var(--oxford-blue);
  color: var(--platinum);
  user-select: none;
  margin-left: 2rem;
  width: 12rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 4px -1px rgb(0, 0, 0, 0.3);
  font-size: 1.1rem;
}

h1 {
  color: var(--platinum);
  text-align: center;
}

form {
  padding: 2rem;
  background-color: var(--oxford-blue);

  display: grid;
  grid-template-columns: repeat(1, 1fr);

  gap: 1rem;
  width: 30rem;
}

form > h1 {
  grid-column: 1 / -1;
}

form > div {
  display: flex;
  justify-content: flex-start;
}

label {
  display: block;
  width: 5rem;
}

#read {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#read > div {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.library-container,
.new-book-container {
  width: clamp(50rem, 70%, 70rem);
  background-color: var(--oxford-blue);
  padding: 1rem;
  padding-right: 0;
}

.library-container {
  display: grid;
  grid-template-rows: 3rem 1fr;
}

.new-book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(11rem, 1fr));
}

.book-card {
  width: 15rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(0, 0, 0, 0.2);
  color: var(--orange-web);
  border: 1px solid var(--orange-web);
  border-radius: 13px;
  box-shadow: 4px -1px rgb(0, 0, 0, 0.3);
}

.book-card > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
